<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.EsRegionMapper">

    <resultMap type="EsRegion" id="EsRegionResult">
        <result property="id"    column="id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="regionPath"    column="region_path"    />
        <result property="regionGrade"    column="region_grade"    />
        <result property="localName"    column="local_name"    />
        <result property="zipcode"    column="zipcode"    />
        <result property="cod"    column="cod"    />
        <result property="leaf"    column="leaf"    />
    </resultMap>

    <sql id="selectEsRegionVo">
        select id, parent_id, region_path, region_grade, local_name, zipcode, cod, leaf from es_region
    </sql>

    <select id="selectEsRegionList" parameterType="EsRegion" resultMap="EsRegionResult">
        <include refid="selectEsRegionVo"/>
        <where>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="regionPath != null  and regionPath != ''"> and region_path = #{regionPath}</if>
            <if test="regionGrade != null "> and region_grade = #{regionGrade}</if>
            <if test="localName != null  and localName != ''"> and local_name like concat('%', #{localName}, '%')</if>
            <if test="zipcode != null  and zipcode != ''"> and zipcode = #{zipcode}</if>
            <if test="cod != null  and cod != ''"> and cod = #{cod}</if>
            <if test="leaf != null "> and leaf = #{leaf}</if>
        </where>
    </select>

    <select id="selectEsRegionById" parameterType="Long" resultMap="EsRegionResult">
        <include refid="selectEsRegionVo"/>
        where id = #{id}
    </select>

    <insert id="insertEsRegion" parameterType="EsRegion">
        insert into es_region
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="regionPath != null">region_path,</if>
            <if test="regionGrade != null">region_grade,</if>
            <if test="localName != null and localName != ''">local_name,</if>
            <if test="zipcode != null">zipcode,</if>
            <if test="cod != null">cod,</if>
            <if test="leaf != null">leaf,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="regionPath != null">#{regionPath},</if>
            <if test="regionGrade != null">#{regionGrade},</if>
            <if test="localName != null and localName != ''">#{localName},</if>
            <if test="zipcode != null">#{zipcode},</if>
            <if test="cod != null">#{cod},</if>
            <if test="leaf != null">#{leaf},</if>
        </trim>
    </insert>

    <update id="updateEsRegion" parameterType="EsRegion">
        update es_region
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="regionPath != null">region_path = #{regionPath},</if>
            <if test="regionGrade != null">region_grade = #{regionGrade},</if>
            <if test="localName != null and localName != ''">local_name = #{localName},</if>
            <if test="zipcode != null">zipcode = #{zipcode},</if>
            <if test="cod != null">cod = #{cod},</if>
            <if test="leaf != null">leaf = #{leaf},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEsRegionById" parameterType="Long">
        delete from es_region where id = #{id}
    </delete>

    <delete id="deleteEsRegionByIds" parameterType="String">
        delete from es_region where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>