<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.EsServicerMapper">
    
    <resultMap type="EsServicer" id="EsServicerResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="name"    column="name"    />
        <result property="typeId"    column="type_id"    />
        <result property="accountPhone"    column="account_phone"    />
        <result property="corporate"    column="corporate"    />
        <result property="manageForm"    column="manage_form"    />
        <result property="regionId"    column="region_id"    />
        <result property="introduce"    column="introduce"    />
        <result property="logo"    column="logo"    />
        <result property="video"    column="video"    />
        <result property="pictureUrls"    column="picture_urls"    />
        <result property="population"    column="population"    />
        <result property="income"    column="income"    />
        <result property="serveNum"    column="serve_num"    />
        <result property="farmersNum"    column="farmers_num"    />
        <result property="serveArea"    column="serve_area"    />
        <result property="raiseNum"    column="raise_num"    />
        <result property="waterNum"    column="water_num"    />
        <result property="otherNum"    column="other_num"    />
        <result property="cropArea"    column="crop_area"    />
        <result property="isAuth"    column="is_auth"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectEsServicerVo">
        select id, user_id, name, type_id, account_phone, corporate, manage_form, region_id, introduce, logo, video, picture_urls, population, income, serve_num, farmers_num, serve_area, raise_num, water_num, other_num, crop_area, is_auth, create_by, create_time, update_by, update_time from es_servicer
    </sql>

    <select id="selectEsServicerList" parameterType="EsServicer" resultMap="EsServicerResult">
        <include refid="selectEsServicerVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="typeId != null "> and type_id = #{typeId}</if>
            <if test="accountPhone != null  and accountPhone != ''"> and account_phone = #{accountPhone}</if>
            <if test="corporate != null  and corporate != ''"> and corporate = #{corporate}</if>
            <if test="manageForm != null "> and manage_form = #{manageForm}</if>
            <if test="regionId != null "> and region_id = #{regionId}</if>
            <if test="introduce != null  and introduce != ''"> and introduce like concat('%', #{introduce}, '%')</if>
            <if test="logo != null  and logo != ''"> and logo = #{logo}</if>
            <if test="video != null  and video != ''"> and video = #{video}</if>
            <if test="pictureUrls != null  and pictureUrls != ''"> and picture_urls = #{pictureUrls}</if>
            <if test="population != null "> and population = #{population}</if>
            <if test="income != null "> and income = #{income}</if>
            <if test="serveNum != null "> and serve_num = #{serveNum}</if>
            <if test="farmersNum != null "> and farmers_num = #{farmersNum}</if>
            <if test="serveArea != null "> and serve_area = #{serveArea}</if>
            <if test="raiseNum != null "> and raise_num = #{raiseNum}</if>
            <if test="waterNum != null "> and water_num = #{waterNum}</if>
            <if test="otherNum != null "> and other_num = #{otherNum}</if>
            <if test="cropArea != null "> and crop_area = #{cropArea}</if>
            <if test="isAuth != null "> and is_auth = #{isAuth}</if>
        </where>
    </select>
    
    <select id="selectEsServicerById" parameterType="Long" resultMap="EsServicerResult">
        <include refid="selectEsServicerVo"/>
        where id = #{id}
    </select>

    <insert id="insertEsServicer" parameterType="EsServicer" useGeneratedKeys="true" keyProperty="id">
        insert into es_servicer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="typeId != null">type_id,</if>
            <if test="accountPhone != null and accountPhone != ''">account_phone,</if>
            <if test="corporate != null and corporate != ''">corporate,</if>
            <if test="manageForm != null">manage_form,</if>
            <if test="regionId != null">region_id,</if>
            <if test="introduce != null">introduce,</if>
            <if test="logo != null">logo,</if>
            <if test="video != null">video,</if>
            <if test="pictureUrls != null">picture_urls,</if>
            <if test="population != null">population,</if>
            <if test="income != null">income,</if>
            <if test="serveNum != null">serve_num,</if>
            <if test="farmersNum != null">farmers_num,</if>
            <if test="serveArea != null">serve_area,</if>
            <if test="raiseNum != null">raise_num,</if>
            <if test="waterNum != null">water_num,</if>
            <if test="otherNum != null">other_num,</if>
            <if test="cropArea != null">crop_area,</if>
            <if test="isAuth != null">is_auth,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="typeId != null">#{typeId},</if>
            <if test="accountPhone != null and accountPhone != ''">#{accountPhone},</if>
            <if test="corporate != null and corporate != ''">#{corporate},</if>
            <if test="manageForm != null">#{manageForm},</if>
            <if test="regionId != null">#{regionId},</if>
            <if test="introduce != null">#{introduce},</if>
            <if test="logo != null">#{logo},</if>
            <if test="video != null">#{video},</if>
            <if test="pictureUrls != null">#{pictureUrls},</if>
            <if test="population != null">#{population},</if>
            <if test="income != null">#{income},</if>
            <if test="serveNum != null">#{serveNum},</if>
            <if test="farmersNum != null">#{farmersNum},</if>
            <if test="serveArea != null">#{serveArea},</if>
            <if test="raiseNum != null">#{raiseNum},</if>
            <if test="waterNum != null">#{waterNum},</if>
            <if test="otherNum != null">#{otherNum},</if>
            <if test="cropArea != null">#{cropArea},</if>
            <if test="isAuth != null">#{isAuth},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateEsServicer" parameterType="EsServicer">
        update es_servicer
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="typeId != null">type_id = #{typeId},</if>
            <if test="accountPhone != null and accountPhone != ''">account_phone = #{accountPhone},</if>
            <if test="corporate != null and corporate != ''">corporate = #{corporate},</if>
            <if test="manageForm != null">manage_form = #{manageForm},</if>
            <if test="regionId != null">region_id = #{regionId},</if>
            <if test="introduce != null">introduce = #{introduce},</if>
            <if test="logo != null">logo = #{logo},</if>
            <if test="video != null">video = #{video},</if>
            <if test="pictureUrls != null">picture_urls = #{pictureUrls},</if>
            <if test="population != null">population = #{population},</if>
            <if test="income != null">income = #{income},</if>
            <if test="serveNum != null">serve_num = #{serveNum},</if>
            <if test="farmersNum != null">farmers_num = #{farmersNum},</if>
            <if test="serveArea != null">serve_area = #{serveArea},</if>
            <if test="raiseNum != null">raise_num = #{raiseNum},</if>
            <if test="waterNum != null">water_num = #{waterNum},</if>
            <if test="otherNum != null">other_num = #{otherNum},</if>
            <if test="cropArea != null">crop_area = #{cropArea},</if>
            <if test="isAuth != null">is_auth = #{isAuth},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEsServicerById" parameterType="Long">
        delete from es_servicer where id = #{id}
    </delete>

    <delete id="deleteEsServicerByIds" parameterType="String">
        delete from es_servicer where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="checkPhoneUnique" parameterType="String" resultMap="EsServicerResult">
        select id, account_phone from es_servicer where account_phone = #{accountPhone} limit 1
    </select>
    <!-- 根据 user_id 查询服务主体 -->
    <select id="selectEsServicerByUserId" parameterType="Long" resultMap="EsServicerResult">
        <include refid="selectEsServicerVo"/>
        where user_id = #{userId}
    </select>
</mapper>