<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.base.mapper.EsStandardsMapper">
    
    <resultMap type="EsStandards" id="EsStandardsResult">
        <result property="id"    column="id"    />
        <result property="fileName"    column="file_name"    />
        <result property="fileNumber"    column="file_number"    />
        <result property="issuingAgency"    column="issuing_agency"    />
        <result property="author"    column="author"    />
        <result property="issueDate"    column="issue_date"    />
        <result property="effectiveDate"    column="effective_date"    />
        <result property="standardCategory"    column="standard_category"    />
        <result property="standardDomain"    column="standard_domain"    />
        <result property="serviceScope"    column="service_scope"    />
        <result property="serviceItems"    column="service_items"    />
        <result property="serviceRequirements"    column="service_requirements"    />
        <result property="technicalParameters"    column="technical_parameters"    />
        <result property="qualityIndicators"    column="quality_indicators"    />
        <result property="versionNumber"    column="version_number"    />
        <result property="revisionDate"    column="revision_date"    />
        <result property="revisionNotes"    column="revision_notes"    />
        <result property="relatedFiles"    column="related_files"    />
        <result property="coverImage"    column="cover_image"    />
        <result property="attachments"    column="attachments"    />
        <result property="notes"    column="notes"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectEsStandardsVo">
        select id, file_name, file_number, issuing_agency, author, issue_date, effective_date, standard_category, standard_domain, service_scope, service_items, service_requirements, technical_parameters, quality_indicators, version_number, revision_date, revision_notes, related_files, cover_image, attachments, notes, create_by, create_time, update_by, update_time, is_deleted from es_standards
    </sql>

    <select id="selectEsStandardsList" parameterType="EsStandards" resultMap="EsStandardsResult">
        <include refid="selectEsStandardsVo"/>
        <where>  
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="fileNumber != null  and fileNumber != ''"> and file_number = #{fileNumber}</if>
            <if test="issuingAgency != null  and issuingAgency != ''"> and issuing_agency = #{issuingAgency}</if>
            <if test="author != null  and author != ''"> and author = #{author}</if>
            <if test="issueDate != null "> and issue_date = #{issueDate}</if>
            <if test="effectiveDate != null "> and effective_date = #{effectiveDate}</if>
            <if test="standardCategory != null  and standardCategory != ''"> and standard_category = #{standardCategory}</if>
            <if test="standardDomain != null  and standardDomain != ''"> and standard_domain = #{standardDomain}</if>
            <if test="serviceScope != null  and serviceScope != ''"> and service_scope = #{serviceScope}</if>
            <if test="serviceItems != null  and serviceItems != ''"> and service_items = #{serviceItems}</if>
            <if test="serviceRequirements != null  and serviceRequirements != ''"> and service_requirements = #{serviceRequirements}</if>
            <if test="technicalParameters != null  and technicalParameters != ''"> and technical_parameters = #{technicalParameters}</if>
            <if test="qualityIndicators != null  and qualityIndicators != ''"> and quality_indicators = #{qualityIndicators}</if>
            <if test="versionNumber != null  and versionNumber != ''"> and version_number = #{versionNumber}</if>
            <if test="revisionDate != null "> and revision_date = #{revisionDate}</if>
            <if test="revisionNotes != null  and revisionNotes != ''"> and revision_notes = #{revisionNotes}</if>
            <if test="relatedFiles != null  and relatedFiles != ''"> and related_files = #{relatedFiles}</if>
            <if test="coverImage != null  and coverImage != ''"> and cover_image = #{coverImage}</if>
            <if test="attachments != null  and attachments != ''"> and attachments = #{attachments}</if>
            <if test="notes != null  and notes != ''"> and notes = #{notes}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
        </where>
    </select>
    
    <select id="selectEsStandardsById" parameterType="Long" resultMap="EsStandardsResult">
        <include refid="selectEsStandardsVo"/>
        where id = #{id}
    </select>

    <insert id="insertEsStandards" parameterType="EsStandards" useGeneratedKeys="true" keyProperty="id">
        insert into es_standards
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileName != null and fileName != ''">file_name,</if>
            <if test="fileNumber != null and fileNumber != ''">file_number,</if>
            <if test="issuingAgency != null and issuingAgency != ''">issuing_agency,</if>
            <if test="author != null">author,</if>
            <if test="issueDate != null">issue_date,</if>
            <if test="effectiveDate != null">effective_date,</if>
            <if test="standardCategory != null and standardCategory != ''">standard_category,</if>
            <if test="standardDomain != null">standard_domain,</if>
            <if test="serviceScope != null">service_scope,</if>
            <if test="serviceItems != null">service_items,</if>
            <if test="serviceRequirements != null">service_requirements,</if>
            <if test="technicalParameters != null">technical_parameters,</if>
            <if test="qualityIndicators != null">quality_indicators,</if>
            <if test="versionNumber != null">version_number,</if>
            <if test="revisionDate != null">revision_date,</if>
            <if test="revisionNotes != null">revision_notes,</if>
            <if test="relatedFiles != null">related_files,</if>
            <if test="coverImage != null">cover_image,</if>
            <if test="attachments != null">attachments,</if>
            <if test="notes != null">notes,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileName != null and fileName != ''">#{fileName},</if>
            <if test="fileNumber != null and fileNumber != ''">#{fileNumber},</if>
            <if test="issuingAgency != null and issuingAgency != ''">#{issuingAgency},</if>
            <if test="author != null">#{author},</if>
            <if test="issueDate != null">#{issueDate},</if>
            <if test="effectiveDate != null">#{effectiveDate},</if>
            <if test="standardCategory != null and standardCategory != ''">#{standardCategory},</if>
            <if test="standardDomain != null">#{standardDomain},</if>
            <if test="serviceScope != null">#{serviceScope},</if>
            <if test="serviceItems != null">#{serviceItems},</if>
            <if test="serviceRequirements != null">#{serviceRequirements},</if>
            <if test="technicalParameters != null">#{technicalParameters},</if>
            <if test="qualityIndicators != null">#{qualityIndicators},</if>
            <if test="versionNumber != null">#{versionNumber},</if>
            <if test="revisionDate != null">#{revisionDate},</if>
            <if test="revisionNotes != null">#{revisionNotes},</if>
            <if test="relatedFiles != null">#{relatedFiles},</if>
            <if test="coverImage != null">#{coverImage},</if>
            <if test="attachments != null">#{attachments},</if>
            <if test="notes != null">#{notes},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateEsStandards" parameterType="EsStandards">
        update es_standards
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileName != null and fileName != ''">file_name = #{fileName},</if>
            <if test="fileNumber != null and fileNumber != ''">file_number = #{fileNumber},</if>
            <if test="issuingAgency != null and issuingAgency != ''">issuing_agency = #{issuingAgency},</if>
            <if test="author != null">author = #{author},</if>
            <if test="issueDate != null">issue_date = #{issueDate},</if>
            <if test="effectiveDate != null">effective_date = #{effectiveDate},</if>
            <if test="standardCategory != null and standardCategory != ''">standard_category = #{standardCategory},</if>
            <if test="standardDomain != null">standard_domain = #{standardDomain},</if>
            <if test="serviceScope != null">service_scope = #{serviceScope},</if>
            <if test="serviceItems != null">service_items = #{serviceItems},</if>
            <if test="serviceRequirements != null">service_requirements = #{serviceRequirements},</if>
            <if test="technicalParameters != null">technical_parameters = #{technicalParameters},</if>
            <if test="qualityIndicators != null">quality_indicators = #{qualityIndicators},</if>
            <if test="versionNumber != null">version_number = #{versionNumber},</if>
            <if test="revisionDate != null">revision_date = #{revisionDate},</if>
            <if test="revisionNotes != null">revision_notes = #{revisionNotes},</if>
            <if test="relatedFiles != null">related_files = #{relatedFiles},</if>
            <if test="coverImage != null">cover_image = #{coverImage},</if>
            <if test="attachments != null">attachments = #{attachments},</if>
            <if test="notes != null">notes = #{notes},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEsStandardsById" parameterType="Long">
        delete from es_standards where id = #{id}
    </delete>

    <delete id="deleteEsStandardsByIds" parameterType="String">
        delete from es_standards where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>