<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.support.mapper.EsMachineryMapper">
    
    <resultMap type="EsMachinery" id="EsMachineryResult">
        <result property="id"    column="id"    />
        <result property="serviceSubjectId"    column="service_subject_id"    />
        <result property="machineName"    column="machine_name"    />
        <result property="machineModel"    column="machine_model"    />
        <result property="terminalNumber"    column="terminal_number"    />
        <result property="manufacturer"    column="manufacturer"    />
        <result property="machineImageUrl"    column="machine_image_url"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectEsMachineryVo">
        select id, service_subject_id, machine_name, machine_model, terminal_number, manufacturer, machine_image_url, status, create_time, update_time, create_by, update_by from es_machinery
    </sql>

    <select id="selectEsMachineryList" parameterType="EsMachinery" resultMap="EsMachineryResult">
        <include refid="selectEsMachineryVo"/>
        <where>  
            <if test="serviceSubjectId != null "> and service_subject_id = #{serviceSubjectId}</if>
            <if test="machineName != null  and machineName != ''"> and machine_name like concat('%', #{machineName}, '%')</if>
            <if test="machineModel != null  and machineModel != ''"> and machine_model = #{machineModel}</if>
            <if test="terminalNumber != null  and terminalNumber != ''"> and terminal_number = #{terminalNumber}</if>
            <if test="manufacturer != null  and manufacturer != ''"> and manufacturer = #{manufacturer}</if>
            <if test="machineImageUrl != null  and machineImageUrl != ''"> and machine_image_url = #{machineImageUrl}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectEsMachineryById" parameterType="Long" resultMap="EsMachineryResult">
        <include refid="selectEsMachineryVo"/>
        where id = #{id}
    </select>

    <insert id="insertEsMachinery" parameterType="EsMachinery" useGeneratedKeys="true" keyProperty="id">
        insert into es_machinery
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serviceSubjectId != null">service_subject_id,</if>
            <if test="machineName != null">machine_name,</if>
            <if test="machineModel != null">machine_model,</if>
            <if test="terminalNumber != null">terminal_number,</if>
            <if test="manufacturer != null">manufacturer,</if>
            <if test="machineImageUrl != null">machine_image_url,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serviceSubjectId != null">#{serviceSubjectId},</if>
            <if test="machineName != null">#{machineName},</if>
            <if test="machineModel != null">#{machineModel},</if>
            <if test="terminalNumber != null">#{terminalNumber},</if>
            <if test="manufacturer != null">#{manufacturer},</if>
            <if test="machineImageUrl != null">#{machineImageUrl},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateEsMachinery" parameterType="EsMachinery">
        update es_machinery
        <trim prefix="SET" suffixOverrides=",">
            <if test="serviceSubjectId != null">service_subject_id = #{serviceSubjectId},</if>
            <if test="machineName != null">machine_name = #{machineName},</if>
            <if test="machineModel != null">machine_model = #{machineModel},</if>
            <if test="terminalNumber != null">terminal_number = #{terminalNumber},</if>
            <if test="manufacturer != null">manufacturer = #{manufacturer},</if>
            <if test="machineImageUrl != null">machine_image_url = #{machineImageUrl},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEsMachineryById" parameterType="Long">
        delete from es_machinery where id = #{id}
    </delete>

    <delete id="deleteEsMachineryByIds" parameterType="String">
        delete from es_machinery where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>